﻿@using DataGridView.Contracts.Models;
@model IReadOnlyCollection<Product>
@{
    ViewData["Title"] = "Список продуктов";
    var stats = ViewData[nameof(IProductStats)] as IProductStats;
}

<h2>Список продуктов</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Добавить новый продукт</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Размер</th>
            <th>Материал</th>
            <th>Количество</th>
            <th>Минимальное количество</th>
            <th>Цена</th>
            <th>Общая цена</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Size</td>
                <td>@product.Material</td>
                <td>@product.Quantity</td>
                <td>@product.MinimumQuantity</td>
                <td>@product.Price</td>
                <td>@(product.Price * product.Quantity)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning"
                       onclick="return confirm('Вы уверены, что хотите изменить этот продукт?');">
                        Изменить
                    </a>

                    <form asp-action="Delete" asp-route-id="@product.Id" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger"
                                onclick="return confirm('Вы уверены, что хотите удалить этот продукт?');">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row bg-#121212 p-2">
    <div class="col d-flex justify-content-between">
        <span>Количество товаров:</span>
        <strong class="m-auto">@stats?.TotalAmount</strong>
    </div>
    <div class="col d-flex justify-content-between">
        <span>Цена с НДС:</span>
        <strong class="m-auto">@stats?.FullPriceWithNDS</strong>
    </div>
    <div class="col d-flex justify-content-between">
        <span>Цена без НДС:</span>
        <strong class="m-auto">@stats?.FullPriceNoNDS</strong>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
